{% load static %}
<!-- Sidebar Wrap -->
<div class="col-lg-3 col-md-4">
    <div class="side-dashboard">

        <div class="dashboard-avatar">

            <div class="dashboard-avatar-thumb">
                <img src="{% static 'frontend/assets/img/can-5.jpg' %}" class="img-avater" alt="" />
            </div>

            <div class="dashboard-avatar-text">
                <h4>{{user.username}}</h4>
                <span>Barbar</span>
            </div>

        </div>

        <div class="dashboard-menu">
            <ul>
                <li><a href="{% url 'helper_dashBoard' %}"><i class="ti-dashboard"></i>Dashboard</a></li>
                <li><a href="{% url 'update_profile' user.user_detail.slug %}"><i class="ti-flag-alt-2"></i>Viewed Resume</a></li>
                <li><a href="{% url 'update_profile' user.user_detail.slug %}"><i class="ti-id-badge"></i>Edit Profile</a></li>
                <li><a href="{% url 'logout' %}"><i class="ti-power-off"></i>Logout</a></li>
            </ul>
        </div>
    </div>
</div>