{% load static %}
<!-- Sidebar Wrap -->
<div class="col-lg-3 col-md-4">
    <div class="side-dashboard">

        <div class="dashboard-avatar">

            <div class="dashboard-avatar-thumb">
                <img src="{{helper.image.url}}" class="img-avater" alt="" />
            </div>

            <div class="dashboard-avatar-text">
                <h4>{{helper.name}}</h4>
                <span>Barbar</span>
            </div>

        </div>

        <div class="dashboard-menu">
            <ul>
                <li><a href="dashboard.html"><i class="ti-dashboard"></i>Dashboard</a></li>
                <li><a href="viewed-resume.html"><i class="ti-flag-alt-2"></i>Viewed Resume</a></li>
                <li><a href="myprofile.html"><i class="ti-id-badge"></i>Edit Profile</a></li>
                <li><a href="login.html"><i class="ti-power-off"></i>Logout</a></li>
            </ul>
        </div>
    </div>
</div>