{% load static %}
<nav class="navbar navbar-default navbar-fixed navbar-light white bootsnav">
    <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu"><i
                class="fa fa-bars"></i></button>
        <div class="navbar-header">
            <a class="navbar-brand" href="/"><img src="{% static 'frontend/assets/img/lb.png' %}"
                    class="logo logo-scrolled" alt=""></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-menu">
            <ul class="nav navbar-nav navbar-left" data-in="fadeInDown" data-out="fadeOutUp">
                <!-- <li class="active">
                        <input type="text" class="form-control" placeholder="Find Freelancer">
                    </li> -->
                    <li class="dropdown">
                        <a href="{% url 'browsebylocations' %}" target="_blank" class="dropdown-toggle"
                            data-toggle="dropdown">Jobs By Location</a>
                        <ul class="dropdown-menu animated fadeOutUp">
                            {% for c in headcity %}
                            <li><a href="{% url 'index' %}browsebylocation/{{c.name}}">{{c.name}}</a></li>
                            {% endfor %}
                            <li><a target="_blank" href="{% url 'browsebylocations' %}">View More</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="{% url 'browsebyskill' %}" target="_blank" class="dropdown-toggle"
                            data-toggle="dropdown">Jobs
                            By Skills</a>
                        <ul class="dropdown-menu animated fadeOutUp">
                            {% for headcat in headcategory %}
                            <li><a href="servies/{{headcat.slug}}">{{ headcat.name}}</a></li>
                            {% endfor %}
                            <li><a target="_blank" href="{% url 'browsebyskill' %}">View More</a></li>
    
                        </ul>
                    </li>
                <li class="dropdown">
                    <a href="/">Home</a>
                </li>
                <li class="dropdown">
                    <a href="{% url 'about' %}">About</a>
                </li>
                <li class="dropdown">
                    <a href="{% url 'contact' %}">ContactUs</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                {% if user.is_superuser and user.is_authenticated %}
                <li class="dropdown">
                    <a href="{% url 'update_profile' user.user_detail.slug %}" target="_blank" class="dropdown-toggle"
                        data-toggle="dropdown"><img src="{% static 'frontend/assets/img/can-5.jpg' %}"
                            style="width: 100%;max-height: 40px;max-width: 40px;border-radius: 50%;">{{user.username}}</a>
                    <ul class="dropdown-menu animated fadeOutUp">
                        <!-- update_profile/{{user.user_detail.slug}} -->
                        <li><a href="{% url 'update_profile' user.user_detail.slug %}">My Profile</a></li>
                        <li><a href="{% url 'helper_dashBoard' %}">Dashboard</a></li>
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                    </ul>
                </li>
                {% elif user.is_authenticated %}
                <li class="dropdown" style="white-space: nowrap;">
                    <a href="update_profile/{{user.user_detail.slug}}" target="_blank" class="dropdown-toggle"
                        data-toggle="dropdown">
                        <!-- <img src="{% static 'frontend/assets/img/can-5.jpg' %}"
                            style="width: 100%;max-height: 40px;max-width: 40px;border-radius: 50%;"> -->
                            {% if user.user_detail.image.url %}
                            <img src="{{user.user_detail.image.url}}"
                            style="width: 100%;max-height: 40px;max-width: 40px;border-radius: 50%;">
                            {% else %}
                            <img src="{% static 'frontend/assets/img/can-5.jpg' %}"
                            style="width: 100%;max-height: 40px;max-width: 40px;border-radius: 50%;">
                            {% endif %}
                            {{user.username}}</a>
                    <ul class="dropdown-menu animated fadeOutUp">
                        <!-- update_profile/{{user.user_detail.slug}} -->
                        <li><a href="{{user.user_detail.slug}}">My Profile</a></li>

                        <li><a href="{% url 'helper_dashBoard' %}">Dashboard</a></li>
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                    </ul>
                </li>
                
                {% else %}
                <li><a href="javascript:void(0)"  data-toggle="modal" data-target="#signup"><i class="fa fa-pencil"
                            aria-hidden="true"></i>SignUp</a></li>
                {% endif %}
                <li class="left-br"><a href="javascript:void(0)" data-toggle="modal" data-target="#signup"
                        class="signin">Hire Staff</a></li>

            </ul>
        </div>
    </div>
</nav>