{% extends 'frontend/frontend_base.html' %}

{% load static %}

{% block content %}
{% load widget_tweaks %}

<div class="clearfix"></div>

<!-- Main Banner Section Start -->
<div class="simple-banner top" style="background-image:url(/static/frontend/assets/img/new-banner.jpg);">
	<!-- Wrapper for carousel items -->
	<div class="container">
		<div class="simple-banner-caption">
			<div class="col-md-10 col-sm-10 col-md-offset-1 col-sm-offset-1 banner-text">
				<h1 class="small">5,000+ Jobs <span class="theme-cl">Available</span></h1>
				<h4><span class="theme-cl">Join us</span> & Explore Thousands of Jobs</h4>
				<div class="height-80"></div>
			</div>
		</div>
	</div>
</div>
<div class="clearfix"></div>
<!-- Main Banner Section End -->

<!-- bottom form section start -->
<section class="bottom-search-form theme-bg light">
	<div class="container">
		<div class="full-search-2 eclip-search italian-search hero-search-radius">
			<div class="hero-search-content">
				<form action="{% url 'search_category' %}" method="get">
					<div class="row">

						<div class="col-lg-5 col-md-3 col-sm-12 small-padd">
							<div class="form-group">
								<div class="input-with-icon">
									{% render_field category_filter.form.category class="form-control" placeholder="Keyword:Name, Tag" %}
									<i class="ti-layers"></i>
								</div>
							</div>
						</div>

						<div class="col-lg-5 col-md-3 col-sm-12 small-padd b-r">
							<div class="form-group">
								<div class="input-with-icon">
									{% render_field category_filter.form.city class="form-control" value="Keyword:Name,Tag" %}
									<i class="ti-location-pin"></i>
								</div>
							</div>
						</div>


						<div class="col-lg-2 col-md-2 col-sm-12 small-padd">
							<div class="form-group">
								<div class="form-group">
									<button type="submit" class="btn btn-primary search-btn">Search</button>
								</div>
							</div>
						</div>

					</div>
				</form>
			</div>
		</div>
	</div>
</section>
<!-- Bottom Search Form Section End -->

<section class="how-it-works">
	<div class="container">
		<div class="row" data-aos="fade-up">
			<div class="col-md-12">
				<div class="main-heading">
					<h2>Our Working <span class="theme-cl">Process</span></h2>
					<p>How It Works</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-4">
				<div class="working-process"><span class="process-img"><img
							src="{% static 'frontend/assets/img/step-1.png' %}" class="img-responsive" alt="" /><span
							class="process-num">01</span></span>
					<h4>Create An Account</h4>
					<p>Post a job to tell us about your project. We'll quickly match you with the right
						freelancers find place best.</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="working-process"><span class="process-img"><img
							src="{% static 'frontend/assets/img/step-2.png' %}" class="img-responsive" alt="" /><span
							class="process-num">02</span></span>
					<h4>Search Jobs</h4>
					<p>Post a job to tell us about your project. We'll quickly match you with the right
						freelancers find place best.</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-4">
				<div class="working-process"><span class="process-img"><img
							src="{% static 'frontend/assets/img/step-3.png' %}" class="img-responsive" alt="" /><span
							class="process-num">03</span></span>
					<h4>Save & Apply</h4>
					<p>Post a job to tell us about your project. We'll quickly match you with the right
						freelancers find place best.</p>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="gray">
	<div class="container">

		<div class="row">
			<div class="main-heading">
				<h2>Top Category of <span>Technical </span>Helper</h2>
				<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris aliquip.</p>
			</div>
		</div>

		<div class="row">
			{% for cat in digital %}
			<div class="col-md-3 col-sm-6">
				<div class="category-box" data-aos="fade-up">
					<div class="category-desc">
						<div class="category-icon">
							<img src="{{ cat.image.url }}" class="img-responsive" alt="" />
							<i class="icon-bargraph abs-icon" aria-hidden="true"></i>
						</div>

						<div class="category-detail category-desc-text">
							<h4> <a href="servies/{{cat.slug}}">{{cat.name}}</a></h4>
							<p>4 Subcategories</p>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>

	</div>
</section>
<!-- ========= start Call To Action section =========== -->
<div class="clearfix"></div>
<section class="call-to-act">
	<div class="container-fluid">

		<div class="col-md-6 col-sm-6 no-padd bl-dark">
			<div class="call-to-act-caption">
				<h2>We Are Expert In Web design and development</h2>
				<h3>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
					laudantium, totam rem aperiam, eaque ipsa quae ab illo</h3>
				<a href="javascript:void(0)"  data-toggle="modal" data-target="#signup" class="btn bat-call-to-act">Hire Us</a>
			</div>
		</div>

		<div class="col-md-6 col-sm-6 no-padd gr-dark">
			<div class="call-to-act-caption">
				<h2>We Are Expert In Web design and development</h2>
				<h3>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
					laudantium, totam rem aperiam, eaque ipsa quae ab illo</h3>
				<a href="javascript:void(0)"  data-toggle="modal" data-target="#signup" class="btn bat-call-to-act">Join Us</a>
				
			</div>
		</div>

	</div>
</section>
<!-- =========== Call To Action section End ============= -->

 
<!-- Work Process Counter Section Start -->
<section class="wp-process">
	<div class="container">

		<div class="row">
			<div class="main-heading">
				<h2>Top Category of <span>Non-Technical </span>Helper</h2>
				<p>Best Labour Helper.</p>
			</div>
		</div>
		
		<div class="row">
			{% for cat in helper %}
			<div class="col-md-3 col-sm-6">
				<div class="category-box" data-aos="fade-up">
					<div class="category-desc">
						<div class="category-icon">
							<img src="{{ cat.image.url }}" class="img-responsive" alt="" />
							<i class="icon-bargraph abs-icon" aria-hidden="true"></i>
						</div>
		
						<div class="category-detail category-desc-text">
							<h4> <a href="servies/{{cat.slug}}">{{cat.name}}</a></h4>
							<p>122 Jobs</p>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>

		<!-- More -->
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<div class="text-center">
					<a href="freelancing-jobs.html" class="btn btn-primary">Load More</a>
				</div>
			</div>
		</div>

	</div>
</section>

<!-- ============================ Call To Action ================================== -->
<section class="theme-bg call-to-act-wrap">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">

				<div class="call-to-act">
					<div class="call-to-act-head">
						<h3>Want to Become a Success Employers?</h3>
						<span>We'll help you to grow your career and growth.</span>
					</div>
					<a href="{% url 'register' %}" class="btn btn-call-to-act">SignUp Today</a>
				</div>

			</div>
		</div>
	</div>
</section>
<!-- ============================ Call To Action End ================================== -->

{% endblock %}