{% load static %}
{% static "img" as baseUrl %}



<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Hire A Helper</title>
  <!-- Bootstrap -->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
  <link href="{% static 'css/style.css' %} " rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />
  <link rel="stylesheet" href="{% static 'css/owlcarousel/owl.carousel.min.css' %}" />
  <link rel="stylesheet" href="{% static 'css/owlcarousel/owl.theme.default.min.css' %}" />


</head>

<body>
  <div id="wrapper" class="home_two">
    <!--Wrapper Start-->
    <!--Header Section Start-->
    <header id="header" data-spy="affix" data-offset-top="60" data-offset-bottom="60">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12  col-sm-12 col-xs-12 col-sm-12">
            <nav class="navbar">
              {% for data in result %}
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                  data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle
                    navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span> </button>
                <a class="navbar-brand" href="#"><img class="logo-dark hidden-xs" style="height: inherit;"
                    src="{{ data.logo.url }}" alt="" />
                  <img class="logo-dark hidden-lg hidden-md hidden-sm" style="height: inherit;"
                    src="{{ data.logo.url }}" alt="" /></a>
              </div>

              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="main-menu collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">

                  <li><a href="{% url 'index' %}">Home</a></li>
                  <li><a href="{% url 'about' %}">About</a></li>
                  <li><a href="{% url 'servies' %}">Servies</a></li>
                  <!-- <li role="presentation" class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"> Pages <span class="caret"></span> </a>
                  <ul class="dropdown-menu">
                    <li><a href="booking.html">Booking Page</a></li>
                    <li><a href="service_detail.html">Servise Deatil</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li><a href="blog_post.html">Single Post</a></li>
                  </ul>
                </li> -->
                  <li><a href="{% url 'contact' %}">Contact</a></li>
                  <li
                    style="background: #3c50d2;border-radius: 9px;padding: 20px 15px;margin: 0px;color: white!important;margin-left: 50px;">
                    <a href="/contact" style="
                    color: aliceblue;
                ">Hire Staff</a></li>
                </ul>
              </div>

              <!-- /.navbar-collapse -->
            </nav>
          </div>
          <div class="col-md-2  col-sm-12 col-xs-12 col-sm-12 hidden-xs">
            <ul class="right-contact">
              <li><i class="fa fa-phone" aria-hidden="true"></i> +91 {{data.mobile_number}}</li>

              {% if user.is_superuser and user.is_authenticated %}
              <li><a href="{% url 'logout' %}" class="btn btn-primary btn-skin">Logout</a></li>
              <li><a href="/admins" target="_blank" class="btn btn-primary btn-skin">Dashboard </a></li>

              <li>{{user.username}}</li>

              {% elif user.is_authenticated %}

              <li><a href="{% url 'logout' %}" class="btn btn-primary btn-skin">Logout </a></li>

              <li><a href="{% url 'update_profile' user.id %}" class="btn btn-primary btn-skin">update </a></li>
              {% else %}
              <li><a href="{% url 'login' %}" class="btn btn-primary btn-skin">Login</a></li>
              {% endif %}
              {% endfor %}
            </ul>
          </div> 
          
        </div>
      </div>
      <!-- /.container -->
    </header>
    <!--/Header Section End-->


    {% block body %}


    {% endblock %}

    <!--Footer-->

    <footer>
      <div class="container-fluid footerbg">
        <div class="container">
          <div class="row">
            <div class="col-md-12">

              <ul>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">Terms</a></li>
                <li><a href="#">Legal</a></li>
                <li><a href="#">Jobs</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
              </ul>
              {% for data in result %}
              <ul class="footer-scoails">
                <li><a href="{{data.fb_link}}"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="{{data.twitter_link}}"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="{{data.instagram_link}}"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>

              </ul>{% endfor %}
              <p class="copyright">&copy; Hire A Helper 2017 All Right Reserved</p>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!--/Footer-->
    <div class="top_awro pull-right" id="back-to-top"><i class="fa fa-chevron-up" aria-hidden="true"></i> </div>
  </div>

  <!--/Wrapper End-->

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="{% static 'ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js' %}"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/owlcarousel/owl.carousel.min.js' %}"></script>
  <script src=" {% static 'js/custom.js' %}"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  {% for message in messages %}
  <script>Swal.fire('Thank you for visiting!', '{{ message }}!', 'success');</script>
  {% endfor %}
  <!-- <script>
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-106074231-1', 'auto');
    ga('send', 'pageview');

  </script> -->


</body>

</html>