
{% extends 'main/base.html' %}

{% load static %}
{% static "img" as baseUrl %}

{% block body %}

 <!--Banner Start-->
 <section id="service_banner">
    <div class="container text-center service_banner_layer">
      <div class="banner_content">
        <div class="row text-left">
          <div class="col-md-6">
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="">
                <img src="https://media.istockphoto.com/photos/portrait-of-a-smiling-woman-in-a-blue-shirt-picture-id515630181?k=20&m=515630181&s=612x612&w=0&h=XJnIoZkvMJiL__5OOJikWzgi18u7KklNPl2HfK4KeRg=" style="width:157px;height: 200px;" alt="Photo">
              </div>
            </div>
           
            <div class="col-md-8 col-sm-8 col-xs-12">
              {% for work in worker %}
              <h1 class="service-heading">{{username}}</h1>
              {% endfor %}
              <p>I’m currently attending CSU for Family and Human Development and am planning on going into social work after I graduate next year.</p>
              {%for i in worker%}
              <h2>{{i.phone_number}}</h2>
              
              <ul class="featurs_list">
                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> {{ i.User_Detail.bio}}
                </li>{% endfor%}
                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> I am CPR certified and recertify every year.</li>
                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> verification approved By admin</li>
                <li><i class="fa fa-check-square-o" aria-hidden="true"></i> High Class Bai</li>
              </ul>
              <a class="btn btn-warning btn-booknow" href="#"> Hire now </a> </div>
            
          </div>
          <div class="col-md-6">
            <div class="contacts_mape">
              <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1229.5864897864183!2d75.76904979762698!3d26.886852269789564!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1499667244188" width="1600" height="490" allowfullscreen></iframe>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </section>
  
  <!--/Banner End--> 
 

  <!--Trust Security Section Satrt-->
  <section id="service-faq">
    <div class="container text-center">
      <h1 class="panel-heading">Frequently asked questions</h1>
      <div class="row text-left">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="qa_box_one">
            <div class="question"><strong>Q.</strong>
              <h4>Lorem Ipsum is simply dummy text industry.</h4>
            </div>
            <div class="answer"><strong>A.</strong>
              <p>We helps you live smarter, giving you time to foLorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled .</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="qa_box_one">
            <div class="question"><strong>Q.</strong>
              <h4>Lorem Ipsum is simply dummy text industry.</h4>
            </div>
            <div class="answer"><strong>A.</strong>
              <p>We helps you live smarter, giving you time to foLorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled .</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="qa_box_one">
            <div class="question"><strong>Q.</strong>
              <h4>Lorem Ipsum is simply dummy text industry.</h4>
            </div>
            <div class="answer"><strong>A.</strong>
              <p>We helps you live smarter, giving you time to foLorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled .</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="qa_box_one">
            <div class="question"><strong>Q.</strong>
              <h4>Lorem Ipsum is simply dummy text industry.</h4>
            </div>
            <div class="answer"><strong>A.</strong>
              <p>We helps you live smarter, giving you time to foLorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled .</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="qa_box_one">
            <div class="question"><strong>Q.</strong>
              <h4>Lorem Ipsum is simply dummy text industry.</h4>
            </div>
            <div class="answer"><strong>A.</strong>
              <p>We helps you live smarter, giving you time to foLorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled .</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="qa_box_one">
            <div class="question"><strong>Q.</strong>
              <h4>Lorem Ipsum is simply dummy text industry.</h4>
            </div>
            <div class="answer"><strong>A.</strong>
              <p>We helps you live smarter, giving you time to foLorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled .</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--Trust Security Section End--> 
  
  <!--Service Provider Satrt-->
  <section id="service_provider">
    <div class="container text-center">
      <h1 class="panel-heading">Worldwide largest home service provider</h1>
      <div class="row">
        <div class="col-md-12"> 
          <!--counter box-->
          <div class="counter_box">
            <div class="counter_number_right">
              <div class="counter_number counter"><span class="stat-count">20000</span>+</div>
              <h4 class="counter_name">HAPPY CUSTOMERS</h4>
            </div>
          </div>
          <!--counter box end--> 
          <!--counter box-->
          <div class="counter_box">
            <div class="counter_number_right">
              <div class="counter_number counter"><span class="stat-count">10000</span>+</div>
              <h4 class="counter_name">SERVICE PROVIDERS</h4>
            </div>
          </div>
          <!--counter box end--> 
        </div>
      </div>
    </div>
  </section>
  <!--/Service Provider Satrt End--> 
  
  <!--Testimonails Section Satrt-->
  <section id="testimonails">
    <div class="container text-center">
      <h1 class="panel-heading">Testimonails</h1>
      <div class="row">
        <div class="col-md-12">
          <div id="carousel-example-generic" class="carousel slide" data-ride="carousel "> <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-generic" data-slide-to="1"></li>
              <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner text-center">
              <div class="item active">
                <div class="avatar"><img class="img-circle" src="images/clinte1.png" alt="circle" /></div>
                <h3>Kevin Austin</h3>
                <strong>Lorem Ipsum</strong>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, a</p>
              </div>
              <div class="item">
                <div class="avatar"><img class="img-circle" src="images/testimonails2.png" alt="circle" /></div>
                <h3>Kevin Austin</h3>
                <strong>Lorem Ipsum</strong>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, a</p>
              </div>
              <div class="item">
                <div class="avatar"><img class="img-circle" src="images/testimonails3.png" alt="circle" /></div>
                <h3>Kevin Austin</h3>
                <strong>Lorem Ipsum</strong>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, a</p>
              </div>
            </div>
            <!-- Controls --> <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev"> <span class="fa fa-angle-left"></span> </a> <a class="right carousel-control" href="#carousel-example-generic" data-slide="next"> <span class="fa fa-angle-right"></span> </a> </div>
        </div>
      </div>
    </div>
  </section>
  <!--Testimonails Section End--> 
  
  <!--Tenancy Deposit Satrt-->
  <section id="tenancy_deposit">
    <div class="container text-center">
      <h1 class="panel-heading">Get your tenancy deposit backa</h1>
      <div class="row">
        <div class="col-md-12">
          <div class="book-now-home-btn">
            <button class="btn btn-primary btn-outline active" type="button"> Book now </button>
            <button class="btn btn-primary btn-outline" type="button"> Request a quote </button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/Tenancy Deposit Satrt End--> 
  
  <!--Explore our Services Satrt-->
  <section id="explore_services">
    <div class="container text-center">
      <h1 class="panel-heading">Explore our Services</h1>
      <ul class="services-list">
        <li><a href="service_detail.html"><img src="images/services-icons/electrical.png" alt="electrical" /><br />
          Electrical</a></li>
        <li><a href="service_detail.html"><img src="images/services-icons/plumbing.png" alt="plumbing" /><br />
          Plumbing</a></li>
        <li><a href="#"><img src="images/services-icons/appliances.png" alt="appliances" /><br />
          Appliances</a></li>
        <li><a href="service_detail.html"><img src="images/services-icons/carpentry.png" alt="carpentry" /><br />
          Carpentry</a></li>
        <li><a href="service_detail.html"><img src="images/services-icons/more.png" alt="more" /><br />
          View More</a></li>
      </ul>
    </div>
  </section>
  <!--Explore our Services End--> 

{% endblock %}
