
{% extends 'main/base.html' %}

{% load static %}
{% static "img" as baseUrl %}

{% block body %}


<!--Banner Start-->
<section id="banner" class="home-two">
    <div class="container text-center home_two_banner">
      <div class="row text-center">
        <div class="col-md-12">
          <h1 class="panel-heading">Get an Smart Way To Find Helper?</h1>
          <p class="caption">Book Expert Helper at a moment's notice. just pick a<br/>
            Category and Get connected</p>
          <form class="form-inline book-now-home">
            <div class="form-group">
              <div class="input-group">
                <select class="form-control" name="category" >
                  <option value=""><i class="fa fa-map-o" aria-hidden="true"></i> Select Category</option>
                  <option value="1">Maid</option>
                  <option value="1">Maid</option>
                  <option value="1">Maid</option>
                  <option value="1">Maid</option>
                </select>
                <!-- <div class="dropdown category-dropdown text-left"> <a data-toggle="dropdown" href="#"><i class="fa fa-map-o" aria-hidden="true"></i> <span class="change-text">Select Category</span> <i class="fa fa-caret-down pull-right" aria-hidden="true"></i> </a>
                  <ul class="dropdown-menu category-change">
                    <li><a href="#">Maid</a></li>
                    <li><a href="#">Baby sitter</a></li>
                    <li><a href="#">Cook</a></li>
                    <li><a href="#">Driver</a></li>
                    <li><a href="#">Home Tution Teacher</a></li>
                  </ul>
                </div> -->
              </div>
            </div>
            <div class="form-group">
              <div class="input-group location-code">
                <input type="text" class="form-control zipcode" id="zipcode" placeholder="Pincode" />
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <select class="form-control" name="category" >
                  <option value=""><i class="fa fa-map-o" aria-hidden="true"></i> Select City</option>
                  <option value="1">Dabra</option>
                  <option value="1">Gwalior</option>
                  <option value="1">Maid</option>
                  <option value="1">Maid</option>
                </select>
                <!-- <div class="dropdown category-dropdown text-left"> <a data-toggle="dropdown" href="#"><span class="change-text">Select City</span> <i class="fa fa-caret-down pull-right" aria-hidden="true"></i> </a>
                  <ul class="dropdown-menu category-change">
                    <li><a href="#">Dabra</a></li>
                    <li><a href="#">Datia</a></li>
                    <li><a href="#">Gwalior</a></li>
                    <li><a href="#">Bhind</a></li>
                    <li><a href="#">Murena</a></li>
                  </ul>
                </div> -->
              </div>
            </div>
          </form>
          <div class="book-now-home-btn">
            <button class="btn btn-primary btn-outline active" type="button"> Search </button>
            <button class="btn btn-primary btn-outline" type="button"> Request a quote </button>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <!--/Banner End--> 
  
  <style>
.icon_box_one{
    padding: 20px;
    background-color:aliceblue ;
}
.bg-aliceblue{
    margin-top:10px;
  padding:10px;
  background-color:lightblue;
  box-shadow:20px 20px 50px 10px pink;
}
.border-circle{
    border-radius: 50%;
}

.img-circle{
    border-radius: 0%;
}
#service_page .srevice_img .img-circle.htw{
  max-width: 100px;
    min-height: 130px;
}
.srevice_img{
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
  </style>
  <!--Service Page Start-->
  <section id="service_page">
    <div class="container text-center">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12 srevice_img"> 
          <div class="col-md-2 col-sm-6 col-xs-12"> 
          <a href="service_detail.html">
            <img src="https://media.istockphoto.com/photos/young-computer-programmer-taking-a-coffee-break-in-the-office-picture-id995603558?k=20&m=995603558&s=612x612&w=0&h=GMqkzQD1Q9fVU-zuSjrvcWxAvgGPp_Np3KkuFcS8Adc=" class="img-circle htw" alt="cleaning" /></a>
          </div>
          <div class="col-md-10 col-sm-6 col-xs-12" style="text-align: end;">
            <h4 style="margin: 0px;"><a href="service_detail.html">Name</a></h4>
            <p>SubCategory</p>
            <p>Daily Rate</p>
            <p>(Bio)Experience more then 3 months 25 Word about Herself</p>
            <p>Age 19yrs</p>
          <p><b>★ 4.8/5</b> average rating</p>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12 srevice_img"> 
          <div class="col-md-2 col-sm-6 col-xs-12"> 
          <a href="service_detail.html">
            <img src="https://media.istockphoto.com/photos/young-computer-programmer-taking-a-coffee-break-in-the-office-picture-id995603558?k=20&m=995603558&s=612x612&w=0&h=GMqkzQD1Q9fVU-zuSjrvcWxAvgGPp_Np3KkuFcS8Adc=" class="img-circle htw" alt="cleaning" /></a>
          </div>
          <div class="col-md-10 col-sm-6 col-xs-12" style="text-align: end;">
            <h4 style="margin: 0px;"><a href="service_detail.html">Name</a></h4>
            <p>SubCategory</p>
            <p>Daily Rate</p>
            <p>(Bio)Experience more then 3 months 25 Word about Herself</p>
            <p>Age 19yrs</p>
          <p><b>★ 4.8/5</b> average rating</p>
          </div>
        </div>
        
        <div class="col-md-3 col-sm-6 col-xs-12 srevice_img"> <a href="service_detail.html"><img src="https://media.istockphoto.com/photos/young-computer-programmer-taking-a-coffee-break-in-the-office-picture-id995603558?k=20&m=995603558&s=612x612&w=0&h=GMqkzQD1Q9fVU-zuSjrvcWxAvgGPp_Np3KkuFcS8Adc=" class="img-circle htw" alt="cleaning" /></a>
          <h4><a href="service_detail.html">Developer</a></h4>
          <p><b>★ 4.8/5</b> average rating</p>
        </div>
        
        <div class="col-md-3 col-sm-6 col-xs-12 srevice_img"> <a href="service_detail.html"><img src="https://media.istockphoto.com/photos/young-computer-programmer-taking-a-coffee-break-in-the-office-picture-id995603558?k=20&m=995603558&s=612x612&w=0&h=GMqkzQD1Q9fVU-zuSjrvcWxAvgGPp_Np3KkuFcS8Adc=" class="img-circle htw" alt="cleaning" /></a>
          <h4><a href="service_detail.html">Developer</a></h4>
          <p><b>★ 4.8/5</b> average rating</p>
        </div>
        
        <div class="col-md-3 col-sm-6 col-xs-12 srevice_img"> <a href="service_detail.html"><img src="https://media.istockphoto.com/photos/young-computer-programmer-taking-a-coffee-break-in-the-office-picture-id995603558?k=20&m=995603558&s=612x612&w=0&h=GMqkzQD1Q9fVU-zuSjrvcWxAvgGPp_Np3KkuFcS8Adc=" class="img-circle htw" alt="cleaning" /></a>
          <h4><a href="service_detail.html">Developer</a></h4>
          <p><b>★ 4.8/5</b> average rating</p>
        </div>
        
      </div>
    </div>
  </section>

{% endblock %}
