{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
<form method="post" enctype="multipart/form-data">
    
    {% render_field form.image class="form-control" placeholder="please uploadimage" %}
    <label for="exampleInputEmail1">name</label>
    {% render_field form.name  class="form-control" placeholder="Category Name"  type="text" %}
    {% render_field form.title class="form-control" %}
    {% render_field form.type class="form-control" %}
    {% render_field form.feature class="form-control" %}
    {% csrf_token %}
    <button type="submit" class="btn original-btn">Submit</button> 
</form>
</body>

</html>

